[submodule "libraries/node"]
	path = libraries/node
	url = https://github.com/nodejs/node.git
	hash = b7eff480d8fbeb0576bb98ca771fb1ad6f48e864

[submodule "libraries/wpf-autolayout"]
	path = libraries/wpf-autolayout
	url = https://github.com/trueinteractions/wpf-autolayout.git
	branch = master

[submodule "libraries/gir"]
	path = libraries/gir
	url = https://github.com/trueinteractions/node-gir.git
	branch = master
[submodule "libraries/nan"]
	path = libraries/nan
	url = https://github.com/nodejs/nan
