[submodule "libraries/node"]
	path = libraries/node
	url = https://github.com/nodejs/node.git
	hash = 85df6ada477715020dbd22e2fb5e687d84d663ff

[submodule "libraries/wpf-autolayout"]
	path = libraries/wpf-autolayout
	url = https://github.com/trueinteractions/wpf-autolayout.git
	branch = master

[submodule "libraries/gir"]
	path = libraries/gir
	url = https://github.com/trueinteractions/node-gir.git
	branch = master
[submodule "libraries/nan"]
	path = libraries/nan
	url = https://github.com/nodejs/nan
