modules/Bridge/Debug
modules/Bridge/Release
modules/Runtime/Debug
modules/Runtime/Release
release.sh
*.xcodeproj
build/Release/
build/Debug/
build/DerivedSources/
build/openssl.build
build/http_parser.build
build/libffi.build
build/uv.build
build/v8.build
build/tint.build
build/cares.build
build/uv.build
build/zlib.build
build/xcode
build/ninja
build/msvs
.DS_Store
node_modules/
node_modules
test/sandbox/
*.vcxproj*
*.obj
*.tlog
*.pdb
*.props
*.targets
*.exp
*.lib
*.suo
*.pbxproj
*.xcodeproj*
libraries/libffi/closure-test.xml
libraries/libffi/ffi.xml
libraries/libffi/test.xml
./libraries/libffi/libffi.xcodeproj/project.pbxproj
*.sln
*.lastbuildstate
*.unsuccessfulbuild
*.successfulbuild
libraries/node_tmp/
test.js
Release/*
Debug/*
*.vcxproj.user
win32ref.js
bench.js
Thumbs.db
*Thumbs.db*
