[submodule "libraries/node"]
	path = libraries/node
	url = https://github.com/nodejs/node.git
	hash = b21110f8a70b809b57b2c6639006674b6c6fe0b3

[submodule "libraries/wpf-autolayout"]
	path = libraries/wpf-autolayout
	url = https://github.com/trueinteractions/wpf-autolayout.git
	branch = master

[submodule "libraries/gir"]
	path = libraries/gir
	url = https://github.com/trueinteractions/node-gir.git
	branch = master

[submodule "libraries/nan"]
	path = libraries/nan
	url = https://github.com/nodejs/nan
